/* Write your CSS here */
.control-bg {
  background-color: #475569;
  width: 100vw;
  height: 30vh;
}
.inputs-cont {
  display: flex;
  flex-direction: row;
}
.input {
  height: 10px;
  width: 10px;
  margin-right: 10px;
}
.label {
  color: white;
  font-size: 16px;
}
